.container {
    display: flex;
    align-items: stretch;
    width: 100vw;
}

.container-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.logo {
    width: 400px;
    display: flex;
}

h1 {
    color: #FFFFFF;
    font-weight: 500;
    display: flex;
}

header { 
    width: 100%; 
    background-color: #191847; 
    display: flex;
    height: 150px;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.editor, .mermaid {
    display: flex;
    width: 30%;
}

.editor {
    background-color: #FAFAFA;
}

.editor textarea{
    width: 100%;
    height: calc(100vh - 163px);
    resize: none;
    padding: 10px;
    border-bottom: 1px solid #CCCCCC;
}

.mermaid {
    display: block;
    width: 70%  ;
    height: calc(100vh - 150px);
    overflow-x: scroll;
    overflow-y: scroll;
}

.options-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
    background-color: #c4c3e2;
    min-width: 5%;
    text-align: center;
    font-weight: bold;
}

.options-dropdown  ul {
    list-style: none;
}

.options-dropdown  ul li a {
    background-color: #c4c3e2;
    text-decoration: none;
    color: #191847;
}

.element-text, .element-text-adicionar-pai {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 300px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -150px;
    z-index: 1001;
    padding: 10px;
    background-color: #c4c3e2;
    border: 0px solid #191847;
    border-radius: 5px;
    font-size: small;
}

.element-text .send-element-text, .element-text-adicionar-pai .send-element-text{
    background-color: #191847;
    color: #FFFFFF;
    border: 0px solid #191847;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.element-text textarea, .element-text-adicionar-pai textarea {
    width: 100%;
    height: 70%;
    resize: none;
    border: 0px solid #191847;
    padding: 5px;
    outline: none;
    margin-bottom: 10px;
}

.preload-mermaid {
    padding: 30px;

}

#more-info-id {
    display: none;
}

.option-text-element-wrap {
    padding-bottom: 5px;
}

.element-text-title {
    padding-bottom: 5px;
    font-size: 14px;
}

.element-text-symbols {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.element-text-symbols span {
    line-height: 13px;
}