* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

[class*='child'] {
    visibility: hidden;
}

/* [class*='dad'] { 
    cursor: pointer;
} */

.nodes g {
    cursor: pointer;
}

[class*='dad'] rect {
    fill: #F5850B !important;
    stroke: #F5850B !important;
}

.node div {
    font-weight: bold;
    font-size: 13px;
}

.node span.mais-informacoes {
    color: #191847 !important;
}

.endNode rect {
    fill: #191847 !important;
    stroke: #191847 !important;
}

.endNode rect+g div {
    color: #FFFFFF;
}

.node.endNode span.mais-informacoes {
    color: #FFFFFF !important;
}

.node.endNode circle+g div span.mais-informacoes {
    color: #191847 !important;
}

[class*='dad'] div {
    color: #FFFFFF !important;
}

.edgePath {
    visibility: hidden;
}

.mermaid {
    visibility: hidden;
    /* border: 1px solid #191847; */
}

.mermaid svg {
    display: block;
    margin: 0 auto;
}

.loading {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: rgb(245, 133, 11);
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}